<h1>Accordian</h1>
<app-accordian></app-accordian>
<br/>
<h1>Alert</h1>
<app-alert></app-alert>
<br/>
<h1>Buttons</h1>
<app-buttons></app-buttons>
<br/>
<h1>Carousel</h1>
<app-carousel></app-carousel>
<br/><br/><br/>
<h1>Collapse</h1>
<app-collapse></app-collapse>
<br/><br/><br/>
<h1>Dropdown</h1>
<app-dropdown></app-dropdown>
<br/><br/><br/>
<h1>Dropdown</h1>
<app-modal></app-modal>
<br/><br/><br/>
<h1>pagination</h1>
<app-pagination></app-pagination>
<br/><br/><br/>
<h1>Popover</h1>
<app-popover></app-popover>
<br/><br/><br/>
<h1>pagination</h1>
<app-datepicker></app-datepicker>